@theme {
  --color-background-grid: light-dark(rgb(0 0 0 / .1), rgb(255 255 255 / .1));
  --color-background-grid-alpha: light-dark(rgb(0 0 0 / 0), rgb(255 255 255 / 0));
}

@layer utilities {
  .bg-grid {
    background-image:
      linear-gradient(to right,
        var(--color-background-grid-alpha) 12%,
        var(--color-background-grid) 12%, 
        var(--color-background-grid-alpha) calc(12% + 1px)
      ),
      linear-gradient(to left,
        var(--color-background-grid-alpha) 12%,
        var(--color-background-grid) 12%, 
        var(--color-background-grid-alpha) calc(12% + 1px)
      ),
      linear-gradient(to bottom,
        var(--color-background-grid-alpha) 12%,
        var(--color-background-grid) 12%, 
        var(--color-background-grid-alpha) calc(12% + 1px)
      ),
      linear-gradient(to top,
        var(--color-background-grid-alpha) 12%,
        var(--color-background-grid) 12%, 
        var(--color-background-grid-alpha) calc(12% + 1px)
      );
    background-size: 192px 192px;
    background-position: center;
  }
}
